DISCORD_BOT_TOKEN=your-discord-bot-token-here
DISCORD_GUILD_ID=281648235557421056

GITHUB_TOKEN=your-github-token-here

STEAM_API_KEY=your-steam-web-api-key-here
STEAM_ID=76561198453466548

MARVEL_RIVALS_API_KEY=your-marvel-rivals-api-key-here
MARVEL_RIVALS_PLAYER=1077840408
UPSTASH_REDIS_REST_URL=your-upstash-redis-rest-url
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-token
MARVEL_RIVALS_CACHE_PREFIX=mr:shared
